services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
    ports:
      - "3000:3000"
